.clip-select-button {
  padding: 10px 30px;
}

.video-container {
  height: 720px;
}

.record-button {
  margin: 20px 0;
  padding: 20px 40px;
}

.save-button {
  padding: 8px 10px;
}

.saved-record {
  font-size: 12px;
  margin: 10px 0;
}
