<h1>Saved records: {{ $ctrl.savedRecords.length }}</h1>
<h1>Average rate: {{ $ctrl.getAverageRate() }}</h1>
<table class="table">
  <thead>
      <tr>
        <th>Title</th>
        <th>Distribution</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in $ctrl.savedRecords">
        <td>{{ ::record.title }}</td>
        <td>
          <div ng-repeat="source in record.sources">
            Video{{ ::($index + 1) }}: {{ ::$ctrl.getDistribution(record, source) }}
          </div>
        </td>
        <td>
          <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteVideo(record._id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>
